# Laravel
/backend/vendor/
/backend/.env
/backend/storage/*.log
/backend/storage/framework/
/backend/bootstrap/cache/

# React
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/.env

# Common
.env
.DS_Store
